body {
  font-size: 1rem;
  padding: 1rem;
}

.heading {
  background-color: rgb(175, 174, 174);
  padding: 1rem;
  text-transform: uppercase;
  border: rgb(22, 22, 216) solid 10px;
  max-width: 40%;
}

h2 {
  text-align: center;
  color: blue;
  font-size: 3rem;
}
span {
  font-size: 2rem;
}

button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: yellow;
}

button:hover {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: red;
}
